@import url("../src/fonts/NeueMachina/stylesheet.css");
* {
  font-family: "Neue Machina";
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none !important;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: #3c4e4e;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(112.92deg, rgba(255, 255, 255, 0.36) 10.45%, rgba(255, 255, 255, 0.09) 88.73%);
}

main {
  overflow-x: hidden;
}

section,
header,
footer {
  background-color: #f8ffff;
}

.cont {
  width: 100%;
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 0.2rem;
}
.cont__space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: rgba(25, 25, 25, 0.6980392157);
  padding: 1.2rem 0;
  transition: all 0.5s;
  display: flex;
  z-index: 1000;
}
.header .adaptive-number {
  display: none;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 700;
}
.header .popup-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.header .popup-wrapper .humb {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  right: 0;
  transition: all 1s;
  opacity: 1;
}
.header .popup-wrapper .humb svg:hover rect {
  transition: all 0.3s;
}
.header .popup-wrapper .humb svg:hover rect:nth-child(2n) {
  transform: translateX(-1rem);
  transition: all 0.3s;
}
.header .popup-wrapper .humb svg:hover rect:nth-child(3n) {
  transform: translateX(-1rem);
  transition: all 0.6s;
}
.header .popup-wrapper .humb svg rect {
  transition: all 0.3s;
}
.header .popup-wrapper .humb svg rect:nth-child(2n) {
  transition: all 0.3s;
}
.header .popup-wrapper .humb svg rect:nth-child(3n) {
  transition: all 0.6s;
}
.header .popup-wrapper .wrapper-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  -moz-column-gap: 4.8rem;
       column-gap: 4.8rem;
  overflow: hidden;
  text-align: end;
  transition: all 1s;
  transform: translateY(-100%);
}
.header .popup-wrapper .wrapper-menu a {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 700;
  transition: all 0.3s;
}
.header .popup-wrapper .wrapper-menu a:hover {
  color: rgb(183, 181, 181);
  transition: all 0.3s;
}
.header .popup-wrapper .menu {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.header__active {
  height: 20rem;
}
.header__active .popup-wrapper .humb {
  transform: translateX(50px);
}
.header__active .popup-wrapper .wrapper-menu {
  transform: translateY(0);
}

.home {
  height: 100vh;
  position: relative;
  background: linear-gradient(0deg, #111 0%, rgba(0, 0, 0, 0) 100%);
}
.home .cont {
  display: flex;
  height: 100%;
}
.home .swiper {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 100%;
  height: 100%;
}
.home .swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.home .heading {
  max-width: 66.8rem;
  margin-top: auto;
  margin-bottom: 6.4rem;
}
.home .heading h1 {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1.6rem;
}
.home .heading p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: white;
}/*# sourceMappingURL=style.css.map */