@import url("../src/fonts/NeueMachina/stylesheet.css");
* {
  font-family: "Neue Machina";
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none !important;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: #3c4e4e;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(112.92deg, rgba(255, 255, 255, 0.36) 10.45%, rgba(255, 255, 255, 0.09) 88.73%);
}

main {
  overflow-x: hidden;
}

section,
header,
footer {
  background-color: #f8ffff;
}

.cont {
  width: 100%;
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 0.2rem;
}
.cont__space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skb-btn:link, .skb-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  width: 19.2rem;
  height: 19.2rem;
  border: 1px solid #3c4e4e;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  font-size: 1.5rem;
  line-height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.skb-btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.skb-btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: rgba(25, 25, 25, 0.6980392157);
  padding: 1.2rem 0;
  transition: all 0.5s;
  display: flex;
  z-index: 1000;
}
.header .adaptive-number {
  display: none;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 700;
}
.header .popup-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.header .popup-wrapper .humb {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  right: 0;
  transition: all 1s;
  opacity: 1;
}
.header .popup-wrapper .humb svg:hover rect {
  transition: all 0.3s;
}
.header .popup-wrapper .humb svg:hover rect:nth-child(2n) {
  transform: translateX(-1rem);
  transition: all 0.3s;
}
.header .popup-wrapper .humb svg:hover rect:nth-child(3n) {
  transform: translateX(-1rem);
  transition: all 0.6s;
}
.header .popup-wrapper .humb svg rect {
  transition: all 0.3s;
}
.header .popup-wrapper .humb svg rect:nth-child(2n) {
  transition: all 0.3s;
}
.header .popup-wrapper .humb svg rect:nth-child(3n) {
  transition: all 0.6s;
}
.header .popup-wrapper .wrapper-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  -moz-column-gap: 4.8rem;
       column-gap: 4.8rem;
  overflow: hidden;
  text-align: end;
  transition: all 1s;
  transform: translateY(-100%);
}
.header .popup-wrapper .wrapper-menu a {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 700;
  transition: all 0.3s;
}
.header .popup-wrapper .wrapper-menu a:hover {
  color: rgb(183, 181, 181);
  transition: all 0.3s;
}
.header .popup-wrapper .menu {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.header__active {
  height: 20rem;
}
.header__active .popup-wrapper .humb {
  transform: translateX(50px);
}
.header__active .popup-wrapper .wrapper-menu {
  transform: translateY(0);
}

.home {
  height: 100vh;
  position: relative;
  background: linear-gradient(0deg, #111 0%, rgba(0, 0, 0, 0) 100%);
}
.home .cont {
  display: flex;
  height: 100%;
  position: relative;
}
.home .swiper {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 100%;
  height: 100%;
}
.home .swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.home .wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.home .wrapper .heading {
  max-width: 66.8rem;
  margin-bottom: 6.4rem;
}
.home .wrapper .heading h1 {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1.6rem;
}
.home .wrapper .heading p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: white;
}
.home .btn-next {
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateX(-50%);
  cursor: pointer;
}
.home .btn-next svg path {
  transition: all 0.3s;
}
.home .btn-next:hover svg path {
  stroke: rgb(172, 170, 170);
  transition: all 0.3s;
}
.home .btn-prev {
  right: 0;
  left: unset;
}
.home .btn-prev svg {
  transform: rotate(180deg);
}
.home .wrapper__btns {
  display: flex;
  gap: 20px;
}

.examples {
  padding: 14rem 0;
}
.examples .heading {
  max-width: 81rem;
  margin-bottom: 3.2rem;
}
.examples .heading h2 {
  font-size: 3.6rem;
  line-height: 4.4rem;
  font-weight: 700;
  color: #3c4e4e;
}
.examples .heading h2 span {
  font-size: 1.9rem;
  line-height: 4.4rem;
  font-weight: 400;
  color: #a8a8a8;
  text-transform: uppercase;
  margin-right: 80px;
}
.examples .wrapper {
  height: 62.8rem;
  display: flex;
}
.examples .wrapper__item {
  height: 100%;
  background: url(../src/img/main-bg.png), lightgray -73.5px 0px/145.37% 100% no-repeat;
  position: relative;
  z-index: 0;
  width: 32.4rem;
  transition: all 1s;
  flex-shrink: 0;
  display: flex;
}
.examples .wrapper__item:first-child {
  flex: 1 1 1rem;
}
.examples .wrapper__item .hover {
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  position: relative;
  z-index: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  transition: all 0.5s;
}
.examples .wrapper__item .hover .item__top {
  transition: all 1s;
  opacity: 1;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}
.examples .wrapper__item .hover .item__top .skb-btn {
  display: none;
}
.examples .wrapper__item .hover .item__top .title {
  color: white;
  max-width: 55.2rem;
}
.examples .wrapper__item .hover .item__top .title h2 {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.examples .wrapper__item .hover .item__top .title p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.examples .wrapper__item .hover .item__bottom {
  width: 100%;
  transition: all 1s;
  opacity: 1;
}
.examples .wrapper__item .hover .item__bottom h3 {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.examples .wrapper__item .hover .item__bottom h3 span:nth-child(2n) {
  font-weight: 400;
}
.examples .wrapper__item.highlight {
  width: 16.2rem;
  transition: all 1s;
}
.examples .wrapper__item.highlight .hover .item__top {
  opacity: 0;
  transition: all 1s;
}
.examples .wrapper__item.highlight .hover .item__bottom {
  opacity: 0;
  transition: all 1s;
}
.examples .wrapper__item:hover {
  width: 81rem;
  transition: all 1s;
}
.examples .wrapper__item:hover .hover {
  height: 40%;
  transition: all 0.5s;
}
.examples .wrapper__item:hover .hover .item__top .title p {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
  display: inline-block;
}
.examples .wrapper__item:hover .hover .item__top .skb-btn {
  display: flex;
  width: 15.2rem;
  height: 15.2rem;
}

.about-top {
  padding: 140px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(/src/img/about-top-bg.png), lightgray 50%/cover no-repeat;
  background-position: 100%;
}
.about-top .heading {
  color: white;
  width: 100%;
}
.about-top .heading br {
  display: none;
}
.about-top .heading h2 {
  font-size: 12.8rem;
  line-height: 13.2rem;
  font-weight: 700;
  text-align: center;
}
.about-top .heading h3 {
  font-size: 4.4rem;
  line-height: 4.8rem;
  font-weight: 700;
  max-width: 67.2rem;
  margin-top: 3.6rem;
}

.about {
  padding: 14rem 0;
}
.about .heading {
  max-width: 91.2rem;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}
.about .heading h2 {
  font-size: 3.6rem;
  line-height: 4.4rem;
  font-weight: 700;
  color: #3c4e4e;
}
.about .heading h2 span {
  font-size: 1.9rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #a8a8a8;
  margin-right: 80px;
}
.about .about__p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #3c4e4e;
  max-width: 62.4rem;
  margin-bottom: 8rem;
}
.about .wrapper-imgs {
  display: flex;
  gap: 4.8rem;
  margin-bottom: 8rem;
}
.about .wrapper-imgs img {
  width: 100%;
  height: 100%;
}
.about .wrapper-imgs img:first-child {
  min-height: 48.4rem;
  max-width: 91.2rem;
}
.about .wrapper-imgs img:nth-child(2n) {
  height: 26.4rem;
  max-width: 24rem;
}
.about .wrapper-bottom {
  display: flex;
  justify-content: space-between;
}
.about .wrapper-bottom p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #3c4e4e;
  max-width: 67.2rem;
  margin-left: 24rem;
}
.about .wrapper-bottom .skb-btn {
  color: #3c4e4e;
}

.order {
  padding: 14rem 0;
  background: #3c4e4e;
}
.order .heading {
  max-width: 107.1rem;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}
.order .heading h2 {
  font-size: 3.6rem;
  line-height: 4.4rem;
  font-weight: 700;
  color: white;
}
.order .heading h2 span {
  font-size: 1.9rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #a8a8a8;
  margin-right: 80px;
}
.order .wrapper {
  margin-left: 24rem;
}
.order .wrapper p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  max-width: 43.2rem;
  color: white;
  margin-bottom: 4rem;
}
.order .wrapper form {
  display: grid;
  grid-template-columns: 39.6rem 39.6rem 1fr;
  gap: 24px;
  position: relative;
}
.order .wrapper form .input__wrapper {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
}
.order .wrapper form .input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  padding: 0;
}
.order .wrapper form .input__file-icon-wrapper {
  margin-right: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order .wrapper form .input__file-button {
  background: bottom;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #cacaca;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin-top: auto;
}
.order .wrapper form .form-order__first {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.order .wrapper form .form-order__third {
  grid-row: 2;
  grid-column: span 2;
  display: flex;
  width: 100%;
  gap: 3.2rem;
}
.order .wrapper form .form-order__third input {
  width: 70%;
}
.order .wrapper form .form-order__third .input__wrapper {
  width: 30%;
}
.order .wrapper form input {
  background: bottom;
  border-bottom: 1px solid white;
  padding: 0.4rem 0;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: white;
}
.order .wrapper form .skb-btn {
  border: 1px solid #ededed;
  border-radius: 50%;
  width: 19.2rem;
  height: 19.2rem;
  transition: all 0.5s;
  margin-left: auto;
  margin-top: auto;
  position: absolute;
  right: 0;
}

.business {
  padding: 14rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(/src/img/business_bg.png), lightgray 50%/cover no-repeat;
}
.business .heading {
  text-align: center;
  width: 100%;
}
.business .heading h2 {
  font-size: 5rem;
  line-height: 5.6rem;
  font-weight: 700;
  color: #f8ffff;
  max-width: 63.5rem;
  margin: auto;
  margin-bottom: 4.4rem;
}
.business .heading p {
  font-size: 1.9rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #f8ffff;
  max-width: 81.6rem;
  margin: auto;
  margin-bottom: 5.2rem;
}
.business .skb-btn {
  margin: auto;
  margin-bottom: 5.2rem;
}
.business .wrapper {
  width: 100%;
  display: flex;
  gap: 48px;
}
.business .wrapper p {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: white;
  max-width: 28.8rem;
  width: 100%;
  text-align: center;
  padding: 2.2rem 0 1.8rem;
  background: rgba(60, 78, 78, 0.8392156863);
}

.contacts {
  padding: 14rem 0;
  background: #f8ffff;
}
.contacts .grid {
  display: grid;
  grid-template-columns: 17.3rem 38.4rem 1fr;
  gap: 5rem;
}
.contacts .grid__first {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.contacts .grid__first p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #3c4e4e;
}
.contacts .grid__second {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.contacts .grid__second a,
.contacts .grid__second p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #3c4e4e;
}
.contacts .grid__third a {
  font-size: 12.8rem;
  line-height: 13.2rem;
  font-weight: 400;
  color: #3c4e4e;
  text-align: end;
  display: inline-block;
}

.news {
  padding-bottom: 100px;
}
.news .heading {
  max-width: 91.2rem;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}
.news .heading h2 {
  font-size: 3.6rem;
  line-height: 4.4rem;
  font-weight: 700;
  color: #3c4e4e;
}
.news .heading h2 span {
  font-size: 1.9rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #a8a8a8;
  margin-right: 80px;
}
.news .wrapper {
  display: flex;
  gap: 4.8rem;
  margin-bottom: 4.4rem;
}
.news .wrapper a.first-link {
  max-width: 62.4rem;
  display: flex;
  flex-direction: column;
  height: 49.2rem;
  padding: 2.4rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 18.12%, rgba(0, 0, 0, 0.47) 37.62%, rgba(0, 0, 0, 0) 59.85%), url(/src/img/news-1.png), lightgray 50%/cover no-repeat;
  background-position: center 0;
  display: flex;
}
.news .wrapper a.first-link h3 {
  margin-top: auto;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
  color: white;
}
.news .wrapper a.first-link p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: white;
  margin-bottom: 0.4rem;
}
.news .wrapper a.first-link p:nth-child(3n) {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin-left: auto;
}
.news .wrapper .block__wrapper {
  display: flex;
  gap: 4.8rem;
}
.news .wrapper .block__wrapper a {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 28.8rem;
}
.news .wrapper .block__wrapper a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.news .wrapper .block__wrapper a h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #3c4e4e;
}
.news .wrapper .block__wrapper a p {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  color: #a8a8a8;
}
.news .wrapper .block__wrapper a p:nth-child(2n) {
  font-weight: 700;
  margin-left: auto;
  color: #3c4e4e;
}
.news .skb-btn {
  color: #3c4e4e;
  font-weight: 700;
  margin: auto;
}

footer {
  background: #2f2f2f;
  padding: 14rem 0 10.4rem;
}
footer .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15rem;
  margin-bottom: 3.6rem;
}
footer .grid img {
  width: 100%;
  height: auto;
}
footer .grid .grid__first,
footer .grid .grid__second,
footer .grid .grid__third {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
footer .grid .grid__first a,
footer .grid .grid__first p,
footer .grid .grid__second a,
footer .grid .grid__second p,
footer .grid .grid__third a,
footer .grid .grid__third p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: white;
}
footer .copyright {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: space-between;
}
footer .copyright p {
  max-width: 104.5rem;
}
footer .copyright a {
  display: flex;
  align-items: end;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  gap: 0.8rem;
}
footer .copyright a img {
  width: 1.6rem;
  height: 1.6rem;
  margin-bottom: 0.5rem;
}

.secondary__home .wrapper {
  display: flex;
  flex-direction: column;
}
.secondary__home .wrapper .heading {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.secondary__home .wrapper .heading h1 .main-span {
  display: flex;
  gap: 4.4rem;
  font-size: 1.7rem;
  line-height: 2.8rem;
  font-weight: 700;
  margin-top: 3.6rem;
}
.secondary__home .wrapper .heading p {
  max-width: 43.2rem;
}
.secondary__home .wrapper .home__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}
.secondary__home .wrapper .home__bottom a {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: #a8a8a8;
  transition: all 0.5s;
  font-size: 1.9rem;
  line-height: 3.2rem;
  font-weight: 400;
}
.secondary__home .wrapper .home__bottom a svg path {
  transition: all 0.5s;
}
.secondary__home .wrapper .home__bottom a:hover {
  color: white;
  transition: all 0.5s;
}
.secondary__home .wrapper .home__bottom a:hover svg path {
  stroke: white;
  transition: all 0.5s;
}

.choose {
  background: #3c4e4e;
  padding: 14rem 0;
  height: 100vh;
}
.choose .heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3.2rem;
}
.choose .heading h1 {
  font-size: 3.6rem;
  line-height: 4.4rem;
  font-weight: 700;
  color: white;
  max-width: 62.4rem;
}
.choose .heading h1 span {
  font-size: 1.9rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #cacaca;
  margin-right: 12rem;
}
.choose .tabby {
  height: 4.4rem;
  border: none;
  display: flex;
  gap: 2.4rem;
}
.choose .tabby li {
  width: 19.2rem;
}
.choose .tabby a {
  font-size: 1.7rem;
  line-height: 2.8rem;
  font-weight: 400;
  border-radius: 0;
  background: bottom;
  border: 1px solid white;
  width: 100%;
  text-align: center;
}
.choose .tabby a[aria-selected=true] {
  background: white;
  color: #3c4e4e;
}
.choose .swiper-two-room__wrapper {
  width: 100%;
  overflow: hidden;
}
.choose .swiper-two-room {
  width: 100%;
  max-width: 43.2rem;
  height: 43.2rem;
}
.choose .swiper-two-room .swiper-wrapper {
  align-items: end;
}
.choose .swiper-two-room .swiper-slide {
  width: 28.8rem;
  height: 28.8rem;
  opacity: 0.5;
  transition: all 1s;
}
.choose .swiper-two-room .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 10%;
     object-position: 10%;
}
.choose .swiper-two-room .swiper-slide-active {
  opacity: 1;
  transition: all 1s;
  width: 43.2rem;
  height: 43.2rem;
}
.choose .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 19.2rem;
  flex-shrink: 0;
}
.choose .info h2 {
  color: white;
  font-size: 1.7rem;
  line-height: 2.8rem;
  font-weight: 700;
}
.choose .info p {
  font-size: 1.7rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: white;
}
.choose .info .swiper-info__first,
.choose .info .swiper-info__second,
.choose .info .swiper-info__third {
  width: 100%;
  max-width: 19.2rem;
  height: 2.8rem;
  overflow: hidden;
}
.choose .absolute-skb-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid #ededed;
}
.choose .swipe-wrap {
  display: flex;
  position: relative;
}
.choose .swipe-wrap .absolute-p {
  position: absolute;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: white;
  max-width: 62.4rem;
  top: 0;
  right: 0;
}
.choose .choose__btns {
  display: flex;
  gap: 4.8rem;
  justify-content: center;
  margin-top: 3.2rem;
}
.choose .choose__btns .two-room-btn-next img {
  transform: rotate(180deg);
}/*# sourceMappingURL=style.css.map */