@import url("../src/fonts/NeueMachina/stylesheet.css");

$neue: "Neue Machina";

$main: #3c4e4e;
$black: #333333;
$gray: #444;
$green: #23a04d;
$red: #ac2c43;
$blue: #2c39ac;

@mixin font($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@media all and (max-width: 768px) {
  .cont {
    padding-inline: 10px;
  }

  .header {
    .adaptive-number {
      display: inline-block;
      position: absolute;
      opacity: 0;
      left: 0;
      bottom: 0;
      @include font(1.3rem, 2rem, 700);
    }

    .popup-wrapper {
      .wrapper-menu {
        grid-template-columns: 1fr;
        column-gap: 0;
        display: none;

        a {
          @include font(1.3rem, 2rem, 700);

          &.number {
            display: none;
          }
        }
      }
    }

    &__active {
      .popup-wrapper {
        .wrapper-menu {
          display: grid;
        }
        .humb {
          display: none;
        }
      }

      .adaptive-number {
        bottom: 20px;
        left: 10px;
        opacity: 1;
        transition: all 1s;
      }
    }
  }

  .home {
    .wrapper {
      margin-top: auto;

      .heading {
        max-width: 100%;
        margin-bottom: 4.4rem;

        h1 {
          @include font(2.8rem, 3.2rem, 700);
          color: white;
          margin-bottom: 1.2rem;
        }
      }
    }

    .btn-next {
      display: none;
    }

    .wrapper__btns {
      display: none;
    }
  }

  .about-top {
    padding: 100px 0;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(/src/img/about-top-bg.png), lightgray 50% / cover no-repeat;
    background-position: 100%;
    background-size: cover;

    .heading {
      br {
        display: block;
      }
      h2 {
        @include font(6.4rem, 6.8rem, 700);
        text-align: end;
      }

      h3 {
        @include font(2.4rem, 2.8rem, 700);
        max-width: 100%;
        margin-top: 2rem;
      }
    }
  }

  .about {
    padding: 12rem 0;

    .heading {
      max-width: 100%;

      h2 {
        @include font(2.4rem, 2.8rem, 700);
        color: #3c4e4e;

        span {
          @include font(1.3rem, 2rem, 400);
          color: #a8a8a8;
          margin-right: 40px;
        }
      }
    }

    .about__p {
      max-width: 100%;
      margin-bottom: 2.4rem;
    }

    .wrapper-imgs {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2.4rem;

      img {
        width: 100%;
        height: 100%;

        &:first-child {
          min-height: 18.4rem;
          max-width: 34.5rem;
        }

        &:nth-child(2n) {
          height: 27.2rem;
          max-width: 24.7rem;
          margin-left: auto;
        }
      }
    }

    .wrapper-bottom {
      flex-direction: column;
      gap: 2.4rem;

      p {
        color: #3c4e4e;
        max-width: 100%;
        margin-left: 0;
      }

      .skb-btn {
        margin-left: auto;
      }
    }
  }

  .examples {
    padding: 12rem 0;

    .heading {
      max-width: 100%;

      h2 {
        span {
          @include font(1.3rem, 2rem, 400);
        }
        @include font(2.4rem, 2.8rem, 700);
      }
    }

    .wrapper {
      height: auto;
      display: flex;
      flex-direction: column;
    }

    .wrapper__item {
      height: 20.2rem;
      width: 100%;

      &:first-child {
        flex: 1 1 1rem;
      }

      .hover {
        padding: 16px;
        transition: all 1s;

        .item__top {
          transition: all 1s;
          opacity: 1;
          margin-top: auto;
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.8rem;
          flex-direction: column;
          margin-top: 9rem;

          .title {
            max-width: 100%;
          }

          .skb-btn {
            margin-left: auto;
          }
        }

        .item__bottom {
          width: 100%;
          transition: all 1s;
          opacity: 1;
        }
      }

      &.highlight {
        width: 100%;
        transition: all 1s;
        height: 20.2rem;

        .hover {
          .item__top {
            opacity: 1;
            transition: all 1s;
          }

          .item__bottom {
            opacity: 1;
            transition: all 1s;
          }
        }
      }

      &:hover {
        width: 100%;
        height: 50rem;
        transition: all 1s;
        background-position: 40% 40%;

        .hover {
          height: 100%;
          transition: all 0.5s;

          .item__top {
            .title {
              p {
                opacity: 1;
                visibility: visible;
                transition: all 0.5s;
                display: inline-block;
              }
            }

            .skb-btn {
              display: flex;
              width: 15.2rem;
              height: 15.2rem;
            }
          }
        }
      }
    }
  }

  .order {
    padding: 12rem 0;

    .heading {
      max-width: 100%;

      h2 {
        @include font(3.6rem, 4.4rem, 700);
        color: white;

        span {
          @include font(1.9rem, 3.2rem, 400);
          color: #a8a8a8;
          margin-right: 80px;
        }
      }
    }

    .wrapper {
      margin-left: 0;

      p {
        max-width: 100%;
        margin-bottom: 5rem;
      }

      form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        position: relative;

        .form-order__first {
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }

        .form-order__third {
          grid-row: 3;
          grid-column: span 1;
          display: flex;
          gap: 2.4rem;
          flex-direction: column;

          input {
            width: 100%;
          }

          .input__wrapper {
            width: fit-content;
            margin-left: auto;
          }
        }

        input {
          background: bottom;
          border-bottom: 1px solid white;
          padding: 0.4rem 0;
          @include font(1.5rem, 2.4rem, 400);
          color: white;
        }

        .skb-btn {
          transition: all 0.5s;
          margin: auto;
          margin-top: 1.4rem;
          position: relative;
          right: unset;
        }
      }
    }
  }

  .business {
    padding: 12rem 0;

    .heading {
      text-align: center;
      width: 100%;
      h2 {
        @include font(2.8rem, 3.2rem, 700);
        color: #f8ffff;
        max-width: 100%;
        margin-bottom: 2.4rem;
      }

      p {
        @include font(1.5rem, 2.4rem, 400);
        color: #f8ffff;
        max-width: 100%;
        margin-bottom: 4rem;
      }
    }

    .skb-btn {
      margin-bottom: 2rem;
      width: 15.2rem;
      height: 15.2rem;
      @include font(1.3rem, 2rem, 700);
    }

    .wrapper {
      width: 100%;
      display: flex;
      gap: 1.2rem;
      flex-direction: column;

      p {
        @include font(1.5rem, 2.4rem, 700);
        color: white;
        max-width: 100%;
        padding: 1.4rem 0;
        background: #3c4e4ed6;
      }
    }
  }

  .contacts {
    padding: 12rem 0;

    .grid {
      grid-template-columns: 1fr;
      gap: 3.2rem;
      position: relative;
    }

    .grid__first {
      max-width: 12.9rem;
    }

    .grid__second {
      .skb-btn {
        margin: auto;
        width: 15.2rem;
        height: 15.2rem;
        @include font(1.3rem, 2rem, 700);
      }
    }

    .grid__third {
      a {
        @include font(4.8rem, 5.2rem, 400);
        color: #3c4e4e;
        position: absolute;
        top: 0;
        right: 0;
        max-width: 27.5rem;
      }
    }
  }

  .news {
    padding-bottom: 11.5rem;

    .heading {
      max-width: 100%;
      margin-bottom: 2.4rem;

      h2 {
        @include font(2.4rem, 2.8rem, 700);
        color: #3c4e4e;

        span {
          @include font(1.3rem, 2rem, 400);
          color: #a8a8a8;
          margin-right: 50px;
        }
      }
    }
    .wrapper {
      display: flex;
      gap: 8rem;
      margin-bottom: 2rem;
      flex-direction: column;

      a.first-link {
        max-width: 100%;
        padding: 1.6rem;
        display: flex;

        h3 {
          margin-top: auto;
          @include font(2rem, 2.4rem, 700);
        }

        p {
          @include font(1.3rem, 2rem, 400);

          &:nth-child(3n) {
            @include font(1.3rem, 2.4rem, 700);
          }
        }
      }

      .block__wrapper {
        display: flex;
        gap: 1.7rem;

        a {
          gap: 0.4rem;
          max-width: 50%;

          h3 {
            @include font(1.6rem, 2rem, 700);
          }

          p {
            @include font(0.9rem, 1.2rem, 400);
            letter-spacing: 0.6px;
          }
        }
      }
    }

    .skb-btn {
      width: 15.2rem;
      height: 15.2rem;
    }
  }

  footer {
    padding: 6rem 0;

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
      margin-bottom: 10rem;

      img {
        width: 11.4rem;
        height: auto;
        grid-column: span 2;
      }

      .grid__first,
      .grid__second,
      .grid__third {
        gap: 2.4rem;

        a,
        p {
          @include font(1.1rem, 1.6rem, 700);
        }
      }

      .grid__third {
        flex-wrap: wrap;
        grid-column: span 2;
        flex-direction: row;
      }
    }

    .copyright {
      @include font(1.1rem, 1.6rem, 400);
      letter-spacing: 0.4px;
      flex-direction: column;
      align-items: center;
      gap: 3.2rem;

      p {
        max-width: 100%;
      }

      a {
        font-weight: 700;
        font-size: 15px;
        display: flex;
        align-items: center;
        gap: 0.8rem;

        img {
          width: 1.6rem;
          height: 1.6rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .secondary__home {
    .wrapper {
      .heading {
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
        margin-bottom: 2rem;

        h1 {
          .main-span {
            gap: 0.8rem;
            margin-top: 0.8rem;
            flex-direction: column;
          }
        }

        p {
          max-width: 100%;
        }
      }

      .home__bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.6rem;

        a {
        }
      }
    }
  }

  .choose {
    padding: 12rem 0;
    height: auto;

    .heading {
      margin-bottom: 2.4rem;
      flex-direction: column;
      gap: 2rem;

      h1 {
        @include font(2.4rem, 2.8rem, 700);
        max-width: 100%;

        span {
          @include font(1.3rem, 2rem, 400);
          margin-right: 4.3rem;
        }
      }
    }

    .tabby {
      height: auto;
      gap: 1.2rem;
      flex-direction: column;

      li {
        width: 100%;
      }

      a {
        @include font(1.5rem, 2.4rem, 400);
      }
    }

    .swiper-two-room__wrapper {
      width: 100%;
      overflow: hidden;
    }

    .swiper-two-room {
      width: 100%;
      max-width: 100%;
      height: 36.1rem;

      .swiper-slide {
        width: 100%;
        height: 100%;

        img {
          object-position: center;
        }
      }

      .swiper-slide-active {
        width: 100%;
        height: 100%;
      }
    }

    .info {
      flex-direction: column;
      gap: 0.8rem;

      h2 {
        @include font(1.5rem, 2.4rem, 700);
      }

      p {
        @include font(1.5rem, 2.4rem, 400);
      }

      .swiper-info__first,
      .swiper-info__second,
      .swiper-info__third {
        height: 2.4rem;
      }
    }

    .absolute-skb-btn {
      left: unset;
      right: 0;

      border: 1px solid #ededed;
      width: 15.2rem;
      height: 15.2rem;
    }

    .swipe-wrap {
      flex-direction: column-reverse;

      .absolute-p {
        position: relative;
        max-width: 100%;
        top: 0;
        right: 0;
        order: 1;
      }
    }
  }

  .show {
    position: relative;
    height: 103.6rem;
    z-index: 0;

    .bg__wrapper {
      width: 100%;
    }

    .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0;
    }

    .main {
      &.window {
        top: 41.5%;
        right: unset;
        left: 47%;
      }

      &.walls {
        top: 70%;
        right: 27%;
      }

      &.front {
        top: 30%;
        right: 22%;
      }

      &.skeleton {
        top: 62%;
        right: 20.7%;
      }

      .info {
        padding: 0.8rem;
        display: flex;
        background: white;
        max-width: 29.2rem;
        gap: 0.8rem;
        opacity: 0;
        transition: all 0.5s;

        img {
          width: 6.8rem;
          height: 6.8rem;
          object-fit: cover;
          object-position: center;
        }

        .title {
          color: #141515;

          h2 {
            @include font(1.5rem, 2.4rem, 700);
          }

          p {
            @include font(1.3rem, 2rem, 400);
          }
        }
      }

      .line {
        opacity: 0;
        transition: all 0.5s;
      }

      &:hover {
        .info {
          opacity: 1;
          transition: all 0.5s;
        }

        .line {
          opacity: 1;
          transition: all 0.5s;
        }
      }
    }

    .cont {
      height: 100%;
    }

    .wrapper {
      height: fit-content;
      max-width: 100%;
      padding: 12rem 1.6rem 2rem;

      .heading {
        h1 {
          @include font(2.4rem, 2.8rem, 700);

          span {
            @include font(1.3rem, 2rem, 400);
            margin-right: 3rem;
          }
        }
      }
    }
  }

  .location {
    padding: 12rem 0;
  }

  .skb-heading {
    display: flex;
    gap: 2.4rem;
    flex-direction: column;

    h1 {
      @include font(2.4rem, 2.8rem, 700);
      max-width: 100%;

      span {
        @include font(1.3rem, 2rem, 400);
        margin-right: 3rem;
      }
    }

    p {
      max-width: 100%;
    }
  }

  .infrastructure {
    padding: 0 0 12rem;

    .cont {
      .cont__left,
      .cont__right {
        max-width: 100%;
      }

      .cont__right {
        display: none;
      }

      .cont__left {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
      }
    }

    .skb-heading {
      h1 {
        span {
          margin-right: 1rem;
        }
      }
    }

    .swiper-info-p {
      height: 28rem;
      overflow: hidden;
      width: 100%;

      p {
        @include font(1.5rem, 2.4rem, 400);
        color: #000;
      }
    }

    .swiper-info-imgs-1 {
      height: 37rem;
    }

    .btns {
      bottom: 7rem;
    }
  }

  .feature {
    padding: 0 0 12rem;

    .skb-heading {
      margin-bottom: 2.4rem;

      h1 {
        max-width: 100%;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 50%);

      .item {
        padding: 2rem 1.6rem 1.6rem 1.6rem;
        justify-content: space-between;

        h2 {
          @include font(2.8rem, 3.2rem, 700);
        }

        p {
          @include font(1.3rem, 2rem, 700);
          width: 100%;
          max-width: 20rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        h3 {
          @include font(2rem, 2.4rem, 700);
        }

        &__big {
          grid-column: span 2;
          grid-row: 1;

          p {
            max-width: 100%;
          }
        }
      }
    }
  }

  .gallery {
    padding: 12rem 0;

    .skb-heading {
      margin-bottom: 2.4rem;

      h1 {
        max-width: 100%;
      }
    }

    .wrapper {
      width: 100%;
      height: 32.8rem;
      display: flex;
      flex-direction: column;
      gap: 0;

      .swiper-gallery {
        width: 100%;
        height: 80%;
      }

      .swiper-gallery-thumbs {
        width: 100%;
        height: 20%;
      }

      .btns {
        padding: 0 1.6rem;

        .gallery-btn-next {
          margin-left: auto;
          margin-right: 4.8rem;

          svg {
            width: 3.8rem;
          }
        }

        .gallery-btn-prev {
          margin-right: auto;

          svg {
            width: 3.8rem;
          }
        }

        .gallery-pagination {
          @include font(1.3rem, 2rem, 400);
        }
      }
    }
  }

  .examples__secondary {
    padding: 0 0 12rem 0;
  }

  .home-about {
    .cont {
      .wrapper {
        padding: 3.2rem 1.6rem 2.4rem;
        flex-direction: column;
        gap: 0.8rem;
      }

      h1 {
        @include font(2.8rem, 3.2rem, 700);
      }
    }
  }

  .about-skb {
    padding: 12rem 0;

    .heading {
      gap: 2.4rem;

      h2 {
        @include font(2.4rem, 2.8rem, 700);
        max-width: 100%;

        span {
          @include font(1.3rem, 2rem, 400);
          margin-right: 3rem;
        }
      }

      p {
        max-width: 100%;
      }
    }

    .date {
      margin-top: 4.4rem;

      h3 {
        @include font(9.6rem, 9.6rem, 400);
      }
    }

    .imgs {
      flex-direction: column;
      margin-top: 3.6rem;
      gap: 2rem;

      img {
        width: 100%;
        max-width: 34.5rem;
        height: 18.4rem;

        &.imgs-small {
          height: 27.2rem;
          margin-left: auto;
        }
      }
    }

    .desc {
      margin-top: 2.4rem;
      margin-left: 0;
      max-width: 100%;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      max-width: 100%;
      margin-top: 3.1rem;
      transform: translateX(0);

      .item {
        height: 19.6rem;
        width: 100%;
        padding: 1.6rem;

        h2 {
          @include font(2.8rem, 3.2rem, 700);
        }

        p {
          @include font(1.3rem, 2rem, 400);
          max-width: 32rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &-img {
          padding: 0;
        }
      }
    }
  }

  .partner {
    .skb-heading {
      margin-bottom: 2.4rem;

      h1 {
        max-width: 100%;
      }
    }

    .grid {
      grid-template-columns: repeat(2, 50%);
      margin-left: 0;
      width: 100%;
      margin-bottom: 4rem;

      .item {
        height: 9rem;
        padding: 1.5rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .swiper-videos {
      height: 20rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .btns {
        gap: 2.8rem;
        padding: 0.4rem;

        svg {
          width: 3.8rem;
        }
      }
    }
  }

  .home-premises {
    .wrapper {
      margin-bottom: 2.4rem;
      flex-direction: column;
      gap: 0.8rem;

      h1 {
        @include font(2.8rem, 3.2rem, 700);
        max-width: 100%;
      }

      p {
        max-width: 100%;
      }
    }
  }

  .premises {
    padding: 12rem 0 0;

    .tabby {
      height: 100%;
      flex-direction: column;

      a {
        @include font(1.5rem, 2.4rem, 400);
        padding: 1.4rem 0;
      }
    }

    .wrapper {
      .grid {
        grid-template-columns: 50% 50%;
        row-gap: 2.4rem;
        padding: 3.6rem 0;
        width: 100%;

        .item {
          gap: 1rem;

          h2 {
            @include font(2rem, 2.4rem, 700);
          }
          h3 {
            @include font(1.5rem, 2.4rem, 700);
          }
          a {
            @include font(1.5rem, 2.4rem, 700);
          }

          p {
            @include font(1.1rem, 1.6rem, 400);
          }

          h4 {
            @include font(1.1rem, 1.6rem, 700);
          }

          &__swiper {
            position: relative;
            grid-column: span 2;
            order: 3;

            .swiper-items {
              height: 14.4rem;
            }

            .items-btn-next {
              position: absolute;
              z-index: 10;
              right: 1rem;
              top: 50%;
              transform: translateY(-50%);
            }

            .items-btn-prev {
              position: absolute;
              z-index: 10;
              left: 1rem;
              top: 50%;
              transform: translateY(-50%);
            }

            .items-pagination {
              position: absolute;
              z-index: 10;
              right: 1rem;
              left: unset;
              bottom: 0;
              width: fit-content;

              @include font(1.5rem, 2.4rem, 400);
              color: #141515;
            }
          }

          &__heading {
            grid-column: span 2;
          }

          &__price {
            grid-row: unset;
            grid-column: span 2;
            flex-direction: row;
            order: 2;
          }
        }
      }

      .info-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 4rem;
        height: 100%;

        .item {
          padding: 2rem 1.6rem;
          height: 11rem;

          h2 {
            @include font(1.3rem, 2rem, 700);
          }

          p {
            @include font(1.5rem, 2.4rem, 400);
          }
        }
      }
    }
  }
}
