@import url("../src/fonts/NeueMachina/stylesheet.css");

$neue: "Neue Machina";

$main: #d1a954;
$black: #333333;
$gray: #444;
$green: #23a04d;
$red: #ac2c43;
$blue: #2c39ac;

@mixin font($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@media all and (max-width: 768px) {
  .cont {
    padding-inline: 10px;
  }

  .header {
    position: relative;

    .adaptive-number {
      display: inline-block;
      position: absolute;
      opacity: 0;
      left: 0;
      bottom: 0;
      @include font(1.3rem, 2rem, 700);
    }

    .popup-wrapper {
      .wrapper-menu {
        grid-template-columns: 1fr;
        column-gap: 0;
        display: none;

        a {
          @include font(1.3rem, 2rem, 700);

          &.number {
            display: none;
          }
        }
      }
    }

    &__active {
      .popup-wrapper {
        .wrapper-menu {
          display: grid;
        }
        .humb {
          display: none;
        }
      }

      .adaptive-number {
        bottom: 20px;
        left: 10px;
        opacity: 1;
        transition: all 1s;
      }
    }
  }
}
