@import url("../src/fonts/NeueMachina/stylesheet.css");

$neue: "Neue Machina";

$main: #3c4e4e;
$black: #333333;
$gray: #444;
$green: #23a04d;
$red: #ac2c43;
$blue: #2c39ac;

@mixin font($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

* {
  font-family: $neue;
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none !important;
  color: white;
}
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: $main;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      112.92deg,
      rgba(255, 255, 255, 0.36) 10.45%,
      rgba(255, 255, 255, 0.09) 88.73%
    );
  }
}

main {
  overflow-x: hidden;
}

section,
header,
footer {
  background-color: #f8ffff;
}

.cont {
  width: 100%;
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 0.2rem;

  &__space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: #191919b2;
  padding: 1.2rem 0;
  transition: all 0.5s;
  display: flex;
  z-index: 1000;

  .adaptive-number {
    display: none;
    @include font(1.3rem, 2rem, 700);
  }

  .popup-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .humb {
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      right: 0;
      transition: all 1s;
      opacity: 1;

      svg {
        &:hover {
          rect {
            transition: all 0.3s;

            &:nth-child(2n) {
              transform: translateX(-1rem);
              transition: all 0.3s;
            }

            &:nth-child(3n) {
              transform: translateX(-1rem);
              transition: all 0.6s;
            }
          }
        }

        rect {
          transition: all 0.3s;

          &:nth-child(2n) {
            transition: all 0.3s;
          }

          &:nth-child(3n) {
            transition: all 0.6s;
          }
        }
      }
    }

    .wrapper-menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: 100%;
      //   opacity: 0;
      column-gap: 4.8rem;
      overflow: hidden;
      text-align: end;
      transition: all 1s;
      transform: translateY(-100%);

      a {
        @include font(1.3rem, 2rem, 700);
        transition: all 0.3s;

        &:hover {
          color: rgb(183, 181, 181);
          transition: all 0.3s;
        }
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  &__active {
    height: 20rem;

    .popup-wrapper {
      .humb {
        transform: translateX(50px);
      }

      .wrapper-menu {
        // opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.home {
  height: 100vh;
  position: relative;
  background: linear-gradient(0deg, #111 0%, rgba(0, 0, 0, 0) 100%);

  .cont {
    display: flex;
    height: 100%;
  }

  .swiper {
    position: absolute;
    z-index: -1;
    width: 100%;
    max-height: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .heading {
    max-width: 66.8rem;
    margin-top: auto;
    margin-bottom: 6.4rem;

    h1 {
      @include font(3.6rem, 4rem, 700);
      color: white;
      margin-bottom: 1.6rem;
    }

    p {
      @include font(1.5rem, 2.4rem, 400);
      color: white;
    }
  }
}
