@import url("../src/fonts/NeueMachina/stylesheet.css");

$neue: "Neue Machina";

$main: #3c4e4e;
$black: #333333;
$gray: #444;
$green: #23a04d;
$red: #ac2c43;
$blue: #2c39ac;

@mixin font($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

* {
  font-family: $neue;
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none !important;
  color: white;
}
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: $main;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      112.92deg,
      rgba(255, 255, 255, 0.36) 10.45%,
      rgba(255, 255, 255, 0.09) 88.73%
    );
  }
}

main {
  overflow-x: hidden;
}

section,
header,
footer {
  background-color: #f8ffff;
}

.cont {
  width: 100%;
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 0.2rem;

  &__space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.skb-btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    width: 19.2rem;
    height: 19.2rem;
    border: 1px solid #3c4e4e;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.3s;
    position: relative;
    font-size: 1.5rem;
    line-height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
  }

  &:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }

  &:active {
    transform: translateY(-0.2rem);
    box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.1);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: #191919b2;
  padding: 1.2rem 0;
  transition: all 0.5s;
  display: flex;
  z-index: 1000;

  .adaptive-number {
    display: none;
    @include font(1.3rem, 2rem, 700);
  }

  .popup-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .humb {
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      right: 0;
      transition: all 1s;
      opacity: 1;

      svg {
        &:hover {
          rect {
            transition: all 0.3s;

            &:nth-child(2n) {
              transform: translateX(-1rem);
              transition: all 0.3s;
            }

            &:nth-child(3n) {
              transform: translateX(-1rem);
              transition: all 0.6s;
            }
          }
        }

        rect {
          transition: all 0.3s;

          &:nth-child(2n) {
            transition: all 0.3s;
          }

          &:nth-child(3n) {
            transition: all 0.6s;
          }
        }
      }
    }

    .wrapper-menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: 100%;
      //   opacity: 0;
      column-gap: 4.8rem;
      overflow: hidden;
      text-align: end;
      transition: all 1s;
      transform: translateY(-100%);

      a {
        @include font(1.3rem, 2rem, 700);
        transition: all 0.3s;

        &:hover {
          color: rgb(183, 181, 181);
          transition: all 0.3s;
        }
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  &__active {
    height: 20rem;

    .popup-wrapper {
      .humb {
        transform: translateX(50px);
      }

      .wrapper-menu {
        // opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.home {
  height: 100vh;
  position: relative;
  background: linear-gradient(0deg, #111 0%, rgba(0, 0, 0, 0) 100%);

  .cont {
    display: flex;
    height: 100%;
    position: relative;
  }

  .swiper {
    position: absolute;
    z-index: -1;
    width: 100%;
    max-height: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .heading {
      max-width: 66.8rem;
      margin-bottom: 6.4rem;

      h1 {
        @include font(3.6rem, 4rem, 700);
        color: white;
        margin-bottom: 1.6rem;
      }

      p {
        @include font(1.5rem, 2.4rem, 400);
        color: white;
      }
    }
  }

  .btn-next {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateX(-50%);
    cursor: pointer;

    svg {
      path {
        transition: all 0.3s;
      }
    }

    &:hover {
      svg {
        path {
          stroke: rgb(172, 170, 170);
          transition: all 0.3s;
        }
      }
    }
  }

  .btn-prev {
    right: 0;
    left: unset;

    svg {
      transform: rotate(180deg);
    }
  }

  .wrapper__btns {
    display: flex;
    gap: 20px;
  }
}

.examples {
  padding: 14rem 0;

  .heading {
    max-width: 81rem;
    margin-bottom: 3.2rem;

    h2 {
      span {
        @include font(1.9rem, 4.4rem, 400);
        color: #a8a8a8;
        text-transform: uppercase;
        margin-right: 80px;
      }
      @include font(3.6rem, 4.4rem, 700);
      color: #3c4e4e;
    }
  }

  .wrapper {
    height: 62.8rem;
    display: flex;
  }

  .wrapper__item {
    height: 100%;
    background: url(../src/img/main-bg.png),
      lightgray -73.5px 0px / 145.37% 100% no-repeat;
    position: relative;
    z-index: 0;
    width: 32.4rem;
    transition: all 1s;
    flex-shrink: 0;
    display: flex;

    &:first-child {
      flex: 1 1 1rem;
    }

    .hover {
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      position: relative;
      z-index: 1;
      padding: 24px;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: auto;
      transition: all 0.5s;

      .item__top {
        transition: all 1s;
        opacity: 1;
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.6rem;

        .skb-btn {
          display: none;
        }

        .title {
          color: white;
          max-width: 55.2rem;

          h2 {
            @include font(2.8rem, 3.2rem, 700);
            margin-bottom: 1.2rem;
          }

          p {
            @include font(1.5rem, 2.4rem, 400);
            opacity: 0;
            visibility: hidden;
            display: none;
          }
        }
      }

      .item__bottom {
        width: 100%;
        transition: all 1s;
        opacity: 1;

        h3 {
          @include font(1.5rem, 2.4rem, 700);
          color: white;
          width: 100%;
          display: flex;
          justify-content: space-between;

          span {
            &:nth-child(2n) {
              font-weight: 400;
            }
          }
        }
      }
    }

    &.highlight {
      width: 16.2rem;
      transition: all 1s;

      .hover {
        .item__top {
          opacity: 0;
          transition: all 1s;
        }

        .item__bottom {
          opacity: 0;
          transition: all 1s;
        }
      }
    }

    &:hover {
      width: 81rem;
      transition: all 1s;

      .hover {
        height: 40%;
        transition: all 0.5s;

        .item__top {
          .title {
            p {
              opacity: 1;
              visibility: visible;
              transition: all 0.5s;
              display: inline-block;
            }
          }

          .skb-btn {
            display: flex;
            width: 15.2rem;
            height: 15.2rem;
          }
        }
      }
    }
  }
}

.about-top {
  padding: 140px 0;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/img/about-top-bg.png), lightgray 50% / cover no-repeat;
  background-position: 100%;

  .heading {
    color: white;
    width: 100%;
    br {
      display: none;
    }
    h2 {
      @include font(12.8rem, 13.2rem, 700);
      text-align: center;
    }

    h3 {
      @include font(4.4rem, 4.8rem, 700);
      max-width: 67.2rem;
      margin-top: 3.6rem;
    }
  }
}

.about {
  padding: 14rem 0;

  .heading {
    max-width: 91.2rem;
    margin-bottom: 3.2rem;
    text-transform: uppercase;

    h2 {
      @include font(3.6rem, 4.4rem, 700);
      color: #3c4e4e;

      span {
        @include font(1.9rem, 3.2rem, 400);
        color: #a8a8a8;
        margin-right: 80px;
      }
    }
  }

  .about__p {
    @include font(1.5rem, 2.4rem, 400);
    color: #3c4e4e;
    max-width: 62.4rem;
    margin-bottom: 8rem;
  }

  .wrapper-imgs {
    display: flex;
    gap: 4.8rem;
    margin-bottom: 8rem;

    img {
      width: 100%;
      height: 100%;

      &:first-child {
        min-height: 48.4rem;
        max-width: 91.2rem;
      }

      &:nth-child(2n) {
        height: 26.4rem;
        max-width: 24rem;
      }
    }
  }

  .wrapper-bottom {
    display: flex;
    justify-content: space-between;

    p {
      @include font(1.5rem, 2.4rem, 400);
      color: #3c4e4e;
      max-width: 67.2rem;
      margin-left: 24rem;
    }

    .skb-btn {
      color: #3c4e4e;
    }
  }
}

.order {
  padding: 14rem 0;
  background: #3c4e4e;

  .heading {
    max-width: 107.1rem;
    margin-bottom: 3.2rem;
    text-transform: uppercase;

    h2 {
      @include font(3.6rem, 4.4rem, 700);
      color: white;

      span {
        @include font(1.9rem, 3.2rem, 400);
        color: #a8a8a8;
        margin-right: 80px;
      }
    }
  }

  .wrapper {
    margin-left: 24rem;

    p {
      @include font(1.5rem, 2.4rem, 400);
      max-width: 43.2rem;
      color: white;
      margin-bottom: 4rem;
    }

    form {
      display: grid;
      grid-template-columns: 39.6rem 39.6rem 1fr;
      gap: 24px;
      position: relative;

      .input__wrapper {
        width: 100%;
        position: relative;
        text-align: center;
        display: flex;
      }

      .input__file {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        padding: 0;
      }

      .input__file-icon-wrapper {
        margin-right: 0.8rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      .input__file-button {
        background: bottom;
        @include font(1.5rem, 2.4rem, 400);
        color: #cacaca;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        cursor: pointer;
        margin-top: auto;
      }

      .form-order__first {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .form-order__third {
        grid-row: 2;
        grid-column: span 2;
        display: flex;
        width: 100%;
        gap: 3.2rem;

        input {
          width: 70%;
        }

        .input__wrapper {
          width: 30%;
        }
      }

      input {
        background: bottom;
        border-bottom: 1px solid white;
        padding: 0.4rem 0;
        @include font(1.5rem, 2.4rem, 400);
        color: white;
      }

      .skb-btn {
        border: 1px solid #ededed;
        border-radius: 50%;
        width: 19.2rem;
        height: 19.2rem;
        transition: all 0.5s;
        margin-left: auto;
        margin-top: auto;
        position: absolute;
        right: 0;
      }
    }
  }
}

.business {
  padding: 14rem 0;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(/src/img/business_bg.png), lightgray 50% / cover no-repeat;

  .heading {
    text-align: center;
    width: 100%;
    h2 {
      @include font(5rem, 5.6rem, 700);
      color: #f8ffff;
      max-width: 63.5rem;
      margin: auto;
      margin-bottom: 4.4rem;
    }

    p {
      @include font(1.9rem, 3.2rem, 400);
      color: #f8ffff;
      max-width: 81.6rem;
      margin: auto;
      margin-bottom: 5.2rem;
    }
  }

  .skb-btn {
    margin: auto;
    margin-bottom: 5.2rem;
  }

  .wrapper {
    width: 100%;
    display: flex;
    gap: 48px;

    a {
      display: inline-block;
      @include font(2rem, 2.4rem, 700);
      color: white;
      width: 100%;
      text-align: center;
      padding: 2.2rem 0 1.8rem;
      background: #3c4e4ed6;
      transition: all 0.5s;

      &:hover {
        background: #3e6565d6;
        transition: all 0.5s;
      }
    }
  }
}

.contacts {
  padding: 14rem 0;
  background: #f8ffff;

  .grid {
    display: grid;
    grid-template-columns: 17.3rem 38.4rem 1fr;
    gap: 5rem;
  }

  .grid__first {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    p {
      @include font(1.5rem, 2.4rem, 400);
      color: #3c4e4e;
    }
  }

  .grid__second {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    a,
    p {
      @include font(1.5rem, 2.4rem, 400);
      color: #3c4e4e;
    }
  }

  .grid__third {
    a {
      @include font(12.8rem, 13.2rem, 400);
      color: #3c4e4e;
      text-align: end;
      display: inline-block;
    }
  }
}

.news {
  padding-bottom: 100px;

  .heading {
    max-width: 91.2rem;
    margin-bottom: 3.2rem;
    text-transform: uppercase;

    h2 {
      @include font(3.6rem, 4.4rem, 700);
      color: #3c4e4e;

      span {
        @include font(1.9rem, 3.2rem, 400);
        color: #a8a8a8;
        margin-right: 80px;
      }
    }
  }

  .wrapper {
    display: flex;
    gap: 4.8rem;
    margin-bottom: 4.4rem;

    a.first-link {
      max-width: 62.4rem;
      display: flex;
      flex-direction: column;
      height: 49.2rem;
      padding: 2.4rem;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.8) 18.12%,
          rgba(0, 0, 0, 0.47) 37.62%,
          rgba(0, 0, 0, 0) 59.85%
        ),
        url(/src/img/news-1.png), lightgray 50% / cover no-repeat;
      background-position: center 0;
      transition: all 0.5s;

      display: flex;

      h3 {
        margin-top: auto;
        @include font(2.4rem, 2.8rem, 700);
        margin-bottom: 0.4rem;
        color: white;
      }

      p {
        @include font(1.5rem, 2.4rem, 400);
        color: white;
        margin-bottom: 0.4rem;

        &:nth-child(3n) {
          @include font(1.5rem, 2.4rem, 700);
          margin-left: auto;
        }
      }

      &:hover {
        transition: all 0.5s;
      }
    }

    .block__wrapper {
      display: flex;
      gap: 4.8rem;

      a {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        max-width: 28.8rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        h3 {
          @include font(2rem, 2.4rem, 700);
          color: #3c4e4e;
        }

        p {
          @include font(1.3rem, 2rem, 400);
          color: #a8a8a8;

          &:nth-child(2n) {
            font-weight: 700;
            margin-left: auto;
            color: #3c4e4e;
          }
        }
      }
    }
  }

  .skb-btn {
    color: #3c4e4e;
    font-weight: 700;
    margin: auto;
  }
}

footer {
  background: #2f2f2f;
  padding: 14rem 0 10.4rem;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15rem;
    margin-bottom: 3.6rem;

    img {
      width: 100%;
      height: auto;
    }

    .grid__first,
    .grid__second,
    .grid__third {
      display: flex;
      flex-direction: column;
      gap: 4.8rem;

      a,
      p {
        @include font(1.5rem, 2.4rem, 700);
        color: white;
        transition: all 0.5s;
      }

      a {
        &:hover {
          transition: all 0.5s;
          color: rgb(174, 174, 174);
        }
      }
    }
  }

  .copyright {
    @include font(1.5rem, 2.4rem, 400);
    color: white;
    display: flex;
    justify-content: space-between;

    p {
      max-width: 104.5rem;
    }

    a {
      display: flex;
      align-items: end;
      font-weight: 700;
      font-size: 15px;
      display: flex;
      gap: 0.8rem;

      img {
        width: 1.6rem;
        height: 1.6rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.secondary__home {
  .wrapper {
    display: flex;
    flex-direction: column;

    .heading {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      width: 100%;

      h1 {
        .main-span {
          display: flex;
          gap: 4.4rem;
          @include font(1.7rem, 2.8rem, 700);
          margin-top: 3.6rem;
        }
      }

      p {
        max-width: 43.2rem;
      }
    }

    .home__bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.6rem;

      a {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        color: #a8a8a8;
        transition: all 0.5s;

        @include font(1.9rem, 3.2rem, 400);

        svg {
          path {
            transition: all 0.5s;
          }
        }

        &:hover {
          color: white;
          transition: all 0.5s;

          svg {
            path {
              stroke: white;
              transition: all 0.5s;
            }
          }
        }
      }
    }
  }
}

.choose {
  background: #3c4e4e;
  padding: 14rem 0;

  .heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3.2rem;

    h1 {
      @include font(3.6rem, 4.4rem, 700);
      color: white;
      max-width: 62.4rem;

      span {
        @include font(1.9rem, 3.2rem, 400);
        color: #cacaca;
        margin-right: 12rem;
      }
    }
  }

  .tabby {
    height: 4.4rem;
    border: none;
    display: flex;
    gap: 2.4rem;

    li {
      width: 19.2rem;
    }

    a {
      @include font(1.7rem, 2.8rem, 400);
      border-radius: 0;
      background: bottom;
      border: 1px solid white;
      width: 100%;
      text-align: center;

      &[aria-selected="true"] {
        background: white;
        color: #3c4e4e;
      }
    }
  }

  .swiper-two-room__wrapper {
    width: 100%;
    overflow: hidden;
  }

  .swiper-two-room {
    width: 100%;
    max-width: 43.2rem;
    height: 43.2rem;

    .swiper-wrapper {
      align-items: end;
    }

    .swiper-slide {
      width: 28.8rem;
      height: 28.8rem;
      opacity: 0.5;
      transition: all 1s;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: 10%;
      }
    }

    .swiper-slide-active {
      opacity: 1;
      transition: all 1s;
      width: 43.2rem;
      height: 43.2rem;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 19.2rem;
    flex-shrink: 0;

    h2 {
      color: white;
      @include font(1.7rem, 2.8rem, 700);
    }

    p {
      @include font(1.7rem, 2.8rem, 400);
      color: white;
    }

    .swiper-info__first,
    .swiper-info__second,
    .swiper-info__third {
      width: 100%;
      max-width: 19.2rem;
      height: 2.8rem;
      overflow: hidden;
    }
  }

  .absolute-skb-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid #ededed;
  }

  .swipe-wrap {
    display: flex;
    position: relative;

    .absolute-p {
      position: absolute;
      @include font(1.5rem, 2.4rem, 400);
      color: white;
      max-width: 62.4rem;
      top: 0;
      right: 0;
    }
  }

  .choose__btns {
    display: flex;
    gap: 4.8rem;
    justify-content: center;
    margin-top: 3.2rem;

    .two-room-btn-next {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

.show_section {
  position: relative;
  height: 82rem;
  z-index: 0;

  .bg__wrapper {
    width: 192rem;
    position: absolute;
    z-index: 0;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0;

    &.bg-mobile {
      display: none;
    }
  }

  .main {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 10;

    &.window {
      top: 37%;
      right: 28.5%;
    }

    &.walls {
      top: 70%;
      right: 27%;
    }

    &.front {
      top: 30%;
      right: 22%;
    }

    &.skeleton {
      top: 62%;
      right: 20.7%;
    }

    .info {
      padding: 0.8rem;
      display: flex;
      background: white;
      max-width: 29.2rem;
      gap: 0.8rem;
      opacity: 0;
      transition: all 0.5s;

      img {
        width: 6.8rem;
        height: 6.8rem;
        object-fit: cover;
        object-position: center;
      }

      .title {
        color: #141515;

        h2 {
          @include font(1.5rem, 2.4rem, 700);
        }

        p {
          @include font(1.3rem, 2rem, 400);
        }
      }
    }

    .line {
      opacity: 0;
      transition: all 0.5s;
    }

    &:hover {
      .info {
        opacity: 1;
        transition: all 0.5s;
      }

      .line {
        opacity: 1;
        transition: all 0.5s;
      }
    }
  }

  .cont {
    height: 100%;
  }

  .wrapper {
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    max-width: 47.2rem;
    width: 100%;
    padding: 20px;
    z-index: 10;
    position: relative;

    .heading {
      margin-bottom: 2.4rem;

      h1 {
        @include font(3.6rem, 4.4rem, 700);
        color: #3c4e4e;

        span {
          @include font(1.9rem, 3.2rem, 400);
          color: #707070;
          margin-right: 12rem;
        }
      }
    }

    p {
      @include font(1.5rem, 2.4rem, 400);
      color: #141515;
    }
  }
}

.location {
  padding: 14rem 0;
  background: #f8ffff;

  .map-wrapper {
    margin-top: 2.4rem;
  }
}

.skb-heading {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

  h1 {
    @include font(3.6rem, 4.4rem, 700);
    color: #3c4e4e;
    max-width: 54.8rem;

    span {
      @include font(1.9rem, 3.2rem, 400);
      color: #a8a8a8;
      margin-right: 12rem;
    }
  }

  p {
    @include font(1.5rem, 2.4rem, 400);
    color: #000;
    max-width: 62.4rem;
  }
}

.infrastructure {
  padding: 0 0 14rem;
  background-color: #f8ffff;
  position: relative;

  .cont {
    display: flex;
    justify-content: space-between;

    .cont__left,
    .cont__right {
      max-width: 62.4rem;
    }

    .cont__left {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }
  }

  .skb-heading {
    h1 {
      span {
        margin-right: 9rem;
      }
    }
  }

  .swiper-info-p {
    height: 16.8rem;
    overflow: hidden;
    width: 100%;

    p {
      @include font(1.5rem, 2.4rem, 400);
      color: #000;
    }
  }

  .swiper-info-imgs-1 {
    height: 32.4rem;
    overflow: hidden;
    width: 100%;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .swiper-info-imgs-2 {
    height: 100%;
    width: 64.4rem;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .btns {
    display: flex;
    gap: 4.8rem;
    align-items: center;
    position: absolute;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.feature {
  padding: 0 0 14rem;
  background: #f8ffff;

  .skb-heading {
    margin-bottom: 3.2rem;

    h1 {
      max-width: 64.8rem;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 32.4rem);
    border: 0.5px solid #a8a8a8;

    .item {
      padding: 2rem 2.8rem 3.2rem 2.8rem;
      height: 16rem;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: end;
      transition: all 0.7s;
      border: 0.5px solid #a8a8a8;
      background-color: bottom;

      h2 {
        @include font(5rem, 5.6rem, 700);
        color: $main;
        margin-bottom: auto;
      }

      p {
        @include font(1.5rem, 2.4rem, 400);
        color: #000;
      }

      h3 {
        @include font(2.8rem, 3.2rem, 700);
        color: white;
      }

      &.item__back {
        background: #3c4e4e;
        transition: all 0.7s;

        &:hover {
          background-color: #f8ffff;
          transition: all 0.7s;
        }
      }

      &__big {
        grid-column: span 2;
        display: flex;
        align-items: end;
      }

      &:hover {
        background-color: $main;
        transition: all 0.7s;
        h2 {
          transition: all 0.7s;
          color: white;
        }

        p {
          transition: all 0.7s;
          color: white;
        }

        h3 {
          color: $main;
          transition: all 0.7s;
        }
      }
    }
  }
}

.gallery {
  padding: 14rem 0;
  background: $main;

  .skb-heading {
    margin-bottom: 3.6rem;

    h1 {
      max-width: 96rem;
      color: white;
    }
  }

  .wrapper {
    width: 100%;
    height: 64.8rem;
    display: flex;
    gap: 2.4rem;

    .swiper-gallery {
      width: 80%;
      height: 100%;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .swiper-gallery-thumbs {
      width: 20%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .swiper-slide {
        img {
          filter: grayscale(100%);
          transition: all 0.5s;
        }
      }

      .swiper-slide-thumb-active {
        img {
          filter: grayscale(0);
          transition: all 0.5s;
        }
      }
    }

    .btns {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      display: flex;
      z-index: 1;
      background: #191919ce;
      padding: 1.6rem;

      .gallery-btn-next {
        margin-left: auto;
        margin-right: 4.8rem;
      }

      .gallery-btn-prev {
        margin-right: auto;
      }

      .gallery-pagination {
        @include font(1.9rem, 2.2rem, 400);
        color: white;
        width: fit-content;
      }
    }
  }
}

.examples__secondary {
  .wrapper__item {
    width: 43.2rem;

    &.highlight {
      width: 20.2rem;
    }

    &:hover {
      width: 89.2rem;
    }
  }
}

.home-about {
  height: 100vh;
  background: url(/src/img/about-home-bg.png), lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;

  .cont {
    margin-top: auto;
    background: #3c4e4e;
    width: 100vw;

    max-width: 100%;

    .wrapper {
      max-width: 130rem;
      display: flex;
      justify-content: space-between;
      padding: 3.2rem 0 4.4rem;
      margin-inline: auto;
    }

    h1 {
      @include font(5rem, 5.6rem, 700);
      color: white;
    }
    p {
      @include font(1.5rem, 2.4rem, 400);
      color: white;
      max-width: 64.8rem;
    }
  }
}

.about-skb {
  padding: 14rem 0;
  background: #f8ffff;
  display: flex;
  flex-direction: column;

  .heading {
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    gap: 3.2rem;

    h2 {
      @include font(3.6rem, 4.4rem, 700);
      color: #3c4e4e;
      max-width: 91.2rem;

      span {
        @include font(1.9rem, 3.2rem, 400);
        color: #a8a8a8;
        margin-right: 12rem;
      }
    }

    p {
      @include font(1.5rem, 2.4rem, 400);
      color: $main;
      max-width: 62.4rem;
      text-transform: none;
    }
  }

  .date {
    display: flex;
    flex-direction: column;

    h3 {
      @include font(20rem, 20.4rem, 400);
      color: $main;
      width: fit-content;

      &:first-child {
        margin-left: auto;
      }
    }
  }

  .imgs {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;

    img {
      width: 100%;
      max-width: 91.1rem;
      height: 48.4rem;

      &.imgs-small {
        height: 26.4rem;
        max-width: 24rem;
      }
    }
  }

  .desc {
    margin-top: 8rem;
    margin-left: 24rem;
    max-width: 67.2rem;

    p {
      @include font(1.5rem, 2.4rem, 400);
      color: #3c4e4e;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 35.2rem);
    border: 0.5px solid #3c4e4e;
    gap: 0;
    max-width: 140.8rem;
    margin-top: 10rem;
    transform: translateX(17.6rem);
    margin-left: auto;

    .item {
      height: 35.2rem;
      max-width: 35.2rem;
      width: 100%;
      border: 0.5px solid #3c4e4e;
      padding: 5.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        @include font(5rem, 5.6rem, 700);
        color: black;
      }

      p {
        @include font(1.5rem, 2.4rem, 400);
        color: black;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      &-img {
        padding: 0;
      }
    }
  }
}

.partner {
  .skb-heading {
    margin-bottom: 3.2rem;

    h1 {
      max-width: 79.3rem;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 35.2rem);
    margin-left: 24rem;
    width: fit-content;
    border: 0.5px solid #3c4e4e;
    margin-bottom: 4.4rem;

    .item {
      border: 0.5px solid #3c4e4e;
      height: 17.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .swiper-videos {
    width: 100%;
    height: 64.8rem;
    max-width: 100%;
    overflow: hidden;
    position: relative;

    .btns {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 100;
      background: #191919c6;
      display: flex;
      justify-content: center;
      gap: 4.8rem;
      padding: 1.6rem;
    }
  }
}

.examples__about {
  padding: 0 0 10rem;
}

.home-premises {
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(17, 17, 17, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(/src/img/premises-bg.png);
  background-position: center;
  background-size: cover;

  .cont {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .wrapper {
    margin-top: auto;
    margin-bottom: 5.2rem;
    display: flex;
    justify-content: space-between;

    h1 {
      @include font(5rem, 5.6rem, 700);
      color: white;
      max-width: 76.8rem;
    }

    p {
      @include font(1.5rem, 2.4rem, 400);
      color: white;
      max-width: 43.2rem;
    }
  }
}

.premises {
  padding: 14rem 0 0;
  background: #f8ffff;

  .tabby {
    height: 5.6rem;
    border: none;
    display: flex;
    width: 100%;

    li {
      border: 1px solid #073535;
      border-radius: 0;
      width: 100%;
    }

    a {
      @include font(1.9rem, 3.2rem, 400);
      border-radius: 0;
      text-align: center;
      color: #3c4e4e;
      padding: 0;
      width: 100%;
      height: 100%;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;

      &[aria-selected="true"] {
        background: #3c4e4e;
        color: #fff;
        transition: all 0.3s;
      }

      &:hover {
        border: none;
      }
    }
  }

  .wrapper {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 48rem 1fr;
      width: 100%;
      row-gap: 3.6rem;
      border-bottom: 1px solid #9a9da3;
      padding: 5.2rem 0;

      .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          @include font(2.4rem, 2.8rem, 700);
          color: #141515;
        }
        h3 {
          @include font(1.9rem, 3.2rem, 700);
          color: #141515;
        }

        a {
          @include font(1.9rem, 3.2rem, 700);
          color: #141515;
          text-decoration: underline !important;
        }

        p {
          @include font(1.5rem, 2.4rem, 400);
          color: #141515;
        }

        h4 {
          @include font(1.5rem, 2.4rem, 700);
          color: #141515;
        }

        &__swiper {
          position: relative;

          .swiper-items {
            width: 100%;
            height: 19.2rem;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .items-btn-next {
            position: absolute;
            z-index: 10;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
          }

          .items-btn-prev {
            position: absolute;
            z-index: 10;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
          }

          .items-pagination {
            position: absolute;
            z-index: 10;
            right: 1rem;
            left: unset;
            bottom: 0;
            width: fit-content;

            @include font(1.5rem, 2.4rem, 400);
            color: #141515;
          }
        }

        &__heading {
          grid-column: span 3;
        }

        &__price {
          grid-row: span 2;
          align-items: end;
        }
      }
    }

    .info-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      margin-top: 3.2rem;
      border: 0.5px solid #073535;
      height: 11.4rem;

      .item {
        padding: 2rem 4.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        border: 0.5px solid #073535;

        h2 {
          @include font(1.7rem, 2.8rem, 700);
          color: #141515;
        }

        p {
          @include font(1.9rem, 3.2rem, 400);
          color: #141515;
        }
      }
    }
  }
}

.thx {
  background: #f8ffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 56px;
    color: #073535;
  }

  h2 {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #434443;
  }

  .skb-btn {
    color: #3c4e4e;
    font-weight: 700;
    margin-top: 2rem;
  }
}

.not_found {
  background: #f8ffff;
  height: 100vh;

  .cont {
    display: flex;
    gap: 7.4rem;
    height: 100%;
    align-items: center;
  }

  .left {
    max-width: 57rem;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .right {
    max-width: 42.7rem;
    width: 100%;

    h1 {
      font-size: 200px;
      font-weight: 700;
      line-height: 200px;
      color: #073535;
    }

    h2 {
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      color: #434443;
    }

    .skb-btn {
      color: #3c4e4e;
      font-weight: 700;
      margin-top: 2rem;
    }
  }
}

.modal-body {
  padding: 2.8rem 4rem;

  .heading {
    h2 {
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
      color: #3c4e4e;
      text-align: center;
      margin-bottom: 1.2rem;
    }
  }
  form {
    flex-direction: column;
    display: flex;
    gap: 2rem;

    .form__input {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: #073535;
      padding: 0.4rem;
      border-bottom: 1px solid #073535;
    }

    .modal-btn {
      padding: 1.2rem;
      background: transparent;
      border: 1px solid #073535;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
