@import url("../src/fonts/NeueMachina/stylesheet.css");

$neue: "Neue Machina";

$main: #3c4e4e;
$black: #333333;
$gray: #444;
$green: #23a04d;
$red: #ac2c43;
$blue: #2c39ac;

@mixin font($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

* {
  font-family: $neue;
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none !important;
  color: white;
}
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: $main;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      112.92deg,
      rgba(255, 255, 255, 0.36) 10.45%,
      rgba(255, 255, 255, 0.09) 88.73%
    );
  }
}

main {
  overflow-x: hidden;
}

section,
header,
footer {
  background-color: #f8ffff;
}

.cont {
  width: 100%;
  max-width: 130rem;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 0.2rem;

  &__space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.skb-btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    width: 19.2rem;
    height: 19.2rem;
    border: 1px solid #3c4e4e;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.3s;
    position: relative;
    font-size: 1.5rem;
    line-height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
  }

  &:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }

  &:active {
    transform: translateY(-0.2rem);
    box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.1);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: #191919b2;
  padding: 1.2rem 0;
  transition: all 0.5s;
  display: flex;
  z-index: 1000;

  .adaptive-number {
    display: none;
    @include font(1.3rem, 2rem, 700);
  }

  .popup-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .humb {
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      right: 0;
      transition: all 1s;
      opacity: 1;

      svg {
        &:hover {
          rect {
            transition: all 0.3s;

            &:nth-child(2n) {
              transform: translateX(-1rem);
              transition: all 0.3s;
            }

            &:nth-child(3n) {
              transform: translateX(-1rem);
              transition: all 0.6s;
            }
          }
        }

        rect {
          transition: all 0.3s;

          &:nth-child(2n) {
            transition: all 0.3s;
          }

          &:nth-child(3n) {
            transition: all 0.6s;
          }
        }
      }
    }

    .wrapper-menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: 100%;
      //   opacity: 0;
      column-gap: 4.8rem;
      overflow: hidden;
      text-align: end;
      transition: all 1s;
      transform: translateY(-100%);

      a {
        @include font(1.3rem, 2rem, 700);
        transition: all 0.3s;

        &:hover {
          color: rgb(183, 181, 181);
          transition: all 0.3s;
        }
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  &__active {
    height: 20rem;

    .popup-wrapper {
      .humb {
        transform: translateX(50px);
      }

      .wrapper-menu {
        // opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.home {
  height: 100vh;
  position: relative;
  background: linear-gradient(0deg, #111 0%, rgba(0, 0, 0, 0) 100%);

  .cont {
    display: flex;
    height: 100%;
    position: relative;
  }

  .swiper {
    position: absolute;
    z-index: -1;
    width: 100%;
    max-height: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .heading {
      max-width: 66.8rem;
      margin-bottom: 6.4rem;

      h1 {
        @include font(3.6rem, 4rem, 700);
        color: white;
        margin-bottom: 1.6rem;
      }

      p {
        @include font(1.5rem, 2.4rem, 400);
        color: white;
      }
    }
  }

  .btn-next {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateX(-50%);
    cursor: pointer;

    svg {
      path {
        transition: all 0.3s;
      }
    }

    &:hover {
      svg {
        path {
          stroke: rgb(172, 170, 170);
          transition: all 0.3s;
        }
      }
    }
  }

  .btn-prev {
    right: 0;
    left: unset;

    svg {
      transform: rotate(180deg);
    }
  }

  .wrapper__btns {
    display: flex;
    gap: 20px;
  }
}

.examples {
  padding: 14rem 0;

  .heading {
    max-width: 81rem;
    margin-bottom: 3.2rem;

    h2 {
      span {
        @include font(1.9rem, 4.4rem, 400);
        color: #a8a8a8;
        text-transform: uppercase;
        margin-right: 80px;
      }
      @include font(3.6rem, 4.4rem, 700);
      color: #3c4e4e;
    }
  }

  .wrapper {
    height: 62.8rem;
    display: flex;
  }

  .wrapper__item {
    height: 100%;
    background: url(../src/img/main-bg.png),
      lightgray -73.5px 0px / 145.37% 100% no-repeat;
    position: relative;
    z-index: 0;
    width: 32.4rem;
    transition: all 1s;
    flex-shrink: 0;
    display: flex;

    &:first-child {
      flex: 1 1 1rem;
    }

    .hover {
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      position: relative;
      z-index: 1;
      padding: 24px;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: auto;
      transition: all 0.5s;

      .item__top {
        transition: all 1s;
        opacity: 1;
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.6rem;

        .skb-btn {
          display: none;
        }

        .title {
          color: white;
          max-width: 55.2rem;

          h2 {
            @include font(2.8rem, 3.2rem, 700);
            margin-bottom: 1.2rem;
          }

          p {
            @include font(1.5rem, 2.4rem, 400);
            opacity: 0;
            visibility: hidden;
            display: none;
          }
        }
      }

      .item__bottom {
        width: 100%;
        transition: all 1s;
        opacity: 1;

        h3 {
          @include font(1.5rem, 2.4rem, 700);
          color: white;
          width: 100%;
          display: flex;
          justify-content: space-between;

          span {
            &:nth-child(2n) {
              font-weight: 400;
            }
          }
        }
      }
    }

    &.highlight {
      width: 16.2rem;
      transition: all 1s;

      .hover {
        .item__top {
          opacity: 0;
          transition: all 1s;
        }

        .item__bottom {
          opacity: 0;
          transition: all 1s;
        }
      }
    }

    &:hover {
      width: 81rem;
      transition: all 1s;

      .hover {
        height: 40%;
        transition: all 0.5s;

        .item__top {
          .title {
            p {
              opacity: 1;
              visibility: visible;
              transition: all 0.5s;
              display: inline-block;
            }
          }

          .skb-btn {
            display: flex;
            width: 15.2rem;
            height: 15.2rem;
          }
        }
      }
    }
  }
}

.about-top {
  padding: 140px 0;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/img/about-top-bg.png), lightgray 50% / cover no-repeat;
  background-position: 100%;

  .heading {
    color: white;
    width: 100%;
    br {
      display: none;
    }
    h2 {
      @include font(12.8rem, 13.2rem, 700);
      text-align: center;
    }

    h3 {
      @include font(4.4rem, 4.8rem, 700);
      max-width: 67.2rem;
      margin-top: 3.6rem;
    }
  }
}

.about {
  padding: 14rem 0;

  .heading {
    max-width: 91.2rem;
    margin-bottom: 3.2rem;
    text-transform: uppercase;

    h2 {
      @include font(3.6rem, 4.4rem, 700);
      color: #3c4e4e;

      span {
        @include font(1.9rem, 3.2rem, 400);
        color: #a8a8a8;
        margin-right: 80px;
      }
    }
  }

  .about__p {
    @include font(1.5rem, 2.4rem, 400);
    color: #3c4e4e;
    max-width: 62.4rem;
    margin-bottom: 8rem;
  }

  .wrapper-imgs {
    display: flex;
    gap: 4.8rem;
    margin-bottom: 8rem;

    img {
      width: 100%;
      height: 100%;

      &:first-child {
        min-height: 48.4rem;
        max-width: 91.2rem;
      }

      &:nth-child(2n) {
        height: 26.4rem;
        max-width: 24rem;
      }
    }
  }

  .wrapper-bottom {
    display: flex;
    justify-content: space-between;

    p {
      @include font(1.5rem, 2.4rem, 400);
      color: #3c4e4e;
      max-width: 67.2rem;
      margin-left: 24rem;
    }

    .skb-btn {
      color: #3c4e4e;
    }
  }
}

.order {
  padding: 14rem 0;
  background: #3c4e4e;

  .heading {
    max-width: 107.1rem;
    margin-bottom: 3.2rem;
    text-transform: uppercase;

    h2 {
      @include font(3.6rem, 4.4rem, 700);
      color: white;

      span {
        @include font(1.9rem, 3.2rem, 400);
        color: #a8a8a8;
        margin-right: 80px;
      }
    }
  }

  .wrapper {
    margin-left: 24rem;

    p {
      @include font(1.5rem, 2.4rem, 400);
      max-width: 43.2rem;
      color: white;
      margin-bottom: 4rem;
    }

    form {
      display: grid;
      grid-template-columns: 39.6rem 39.6rem 1fr;
      gap: 24px;
      position: relative;

      .input__wrapper {
        width: 100%;
        position: relative;
        text-align: center;
        display: flex;
      }

      .input__file {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        padding: 0;
      }

      .input__file-icon-wrapper {
        margin-right: 0.8rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      .input__file-button {
        background: bottom;
        @include font(1.5rem, 2.4rem, 400);
        color: #cacaca;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        cursor: pointer;
        margin-top: auto;
      }

      .form-order__first {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .form-order__third {
        grid-row: 2;
        grid-column: span 2;
        display: flex;
        width: 100%;
        gap: 3.2rem;

        input {
          width: 70%;
        }

        .input__wrapper {
          width: 30%;
        }
      }

      input {
        background: bottom;
        border-bottom: 1px solid white;
        padding: 0.4rem 0;
        @include font(1.5rem, 2.4rem, 400);
        color: white;
      }

      .skb-btn {
        border: 1px solid #ededed;
        border-radius: 50%;
        width: 19.2rem;
        height: 19.2rem;
        transition: all 0.5s;
        margin-left: auto;
        margin-top: auto;
        position: absolute;
        right: 0;
      }
    }
  }
}

.business {
  padding: 14rem 0;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(/src/img/business_bg.png), lightgray 50% / cover no-repeat;

  .heading {
    text-align: center;
    width: 100%;
    h2 {
      @include font(5rem, 5.6rem, 700);
      color: #f8ffff;
      max-width: 63.5rem;
      margin: auto;
      margin-bottom: 4.4rem;
    }

    p {
      @include font(1.9rem, 3.2rem, 400);
      color: #f8ffff;
      max-width: 81.6rem;
      margin: auto;
      margin-bottom: 5.2rem;
    }
  }

  .skb-btn {
    margin: auto;
    margin-bottom: 5.2rem;
  }

  .wrapper {
    width: 100%;
    display: flex;
    gap: 48px;

    p {
      @include font(2rem, 2.4rem, 700);
      color: white;
      max-width: 28.8rem;
      width: 100%;
      text-align: center;
      padding: 2.2rem 0 1.8rem;
      background: #3c4e4ed6;
    }
  }
}

.contacts {
  padding: 14rem 0;
  background: #f8ffff;

  .grid {
    display: grid;
    grid-template-columns: 17.3rem 38.4rem 1fr;
    gap: 5rem;
  }

  .grid__first {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    p {
      @include font(1.5rem, 2.4rem, 400);
      color: #3c4e4e;
    }
  }

  .grid__second {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    a,
    p {
      @include font(1.5rem, 2.4rem, 400);
      color: #3c4e4e;
    }
  }

  .grid__third {
    a {
      @include font(12.8rem, 13.2rem, 400);
      color: #3c4e4e;
      text-align: end;
      display: inline-block;
    }
  }
}

.news {
  padding-bottom: 100px;

  .heading {
    max-width: 91.2rem;
    margin-bottom: 3.2rem;
    text-transform: uppercase;

    h2 {
      @include font(3.6rem, 4.4rem, 700);
      color: #3c4e4e;

      span {
        @include font(1.9rem, 3.2rem, 400);
        color: #a8a8a8;
        margin-right: 80px;
      }
    }
  }

  .wrapper {
    display: flex;
    gap: 4.8rem;
    margin-bottom: 4.4rem;

    a.first-link {
      max-width: 62.4rem;
      display: flex;
      flex-direction: column;
      height: 49.2rem;
      padding: 2.4rem;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.8) 18.12%,
          rgba(0, 0, 0, 0.47) 37.62%,
          rgba(0, 0, 0, 0) 59.85%
        ),
        url(/src/img/news-1.png), lightgray 50% / cover no-repeat;
      background-position: center 0;

      display: flex;

      h3 {
        margin-top: auto;
        @include font(2.4rem, 2.8rem, 700);
        margin-bottom: 0.4rem;
        color: white;
      }

      p {
        @include font(1.5rem, 2.4rem, 400);
        color: white;
        margin-bottom: 0.4rem;

        &:nth-child(3n) {
          @include font(1.5rem, 2.4rem, 700);
          margin-left: auto;
        }
      }
    }

    .block__wrapper {
      display: flex;
      gap: 4.8rem;

      a {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        max-width: 28.8rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        h3 {
          @include font(2rem, 2.4rem, 700);
          color: #3c4e4e;
        }

        p {
          @include font(1.3rem, 2rem, 400);
          color: #a8a8a8;

          &:nth-child(2n) {
            font-weight: 700;
            margin-left: auto;
            color: #3c4e4e;
          }
        }
      }
    }
  }

  .skb-btn {
    color: #3c4e4e;
    font-weight: 700;
    margin: auto;
  }
}

footer {
  background: #2f2f2f;
  padding: 14rem 0 10.4rem;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15rem;
    margin-bottom: 3.6rem;

    img {
      width: 100%;
      height: auto;
    }

    .grid__first,
    .grid__second,
    .grid__third {
      display: flex;
      flex-direction: column;
      gap: 4.8rem;

      a,
      p {
        @include font(1.5rem, 2.4rem, 700);
        color: white;
      }
    }
  }

  .copyright {
    @include font(1.5rem, 2.4rem, 400);
    color: white;
    display: flex;
    justify-content: space-between;

    p {
      max-width: 104.5rem;
    }

    a {
      display: flex;
      align-items: end;
      font-weight: 700;
      font-size: 15px;
      display: flex;
      gap: 0.8rem;

      img {
        width: 1.6rem;
        height: 1.6rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
